@using Abyss.Shared
@inject HttpClient Http
@page "/commands"


<h3>Commands</h3>

@if (commands == null)
{
    <p>Loading commands...</p>
} else
{
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Module
                </th>
                <td>
                    Checks
                </td>
                <td>
                    Parameters
                </td>
                <td>
                    Enabled
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var command in commands)
            {
                <tr>
                    <td>
                        @command.Aliases.First()
                    </td>
                    <td>
                        @command.Module
                    </td>
                    <td>
                        @string.Join(", ", command.Checks)
                    </td>
                    <td>
                        @string.Join(", ", command.Parameters)
                    </td>
                    <td>
                        @(command.Enabled ? "Yes" : "No")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {      
CommandInfo[] commands; 

protected override async Task OnInitAsync()
{
    commands = await Http.GetJsonAsync<CommandInfo[]>("api/commands");
}
}
